/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root{
  /* header to top */
  --header-height: 2.5rem;
  --font-semi: 750;
}

:root{
  --first-color: #20B2AA	;
  --second-color: #2D3748;
}

:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

/*===== z index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* margin from title to the content */
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

html{
  scroll-behavior: smooth;
}

body{
  /* border-style: dashed; */
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,h2,p{
  margin: 0;
}


ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}


.center_everyThing{
  position: relative;
  text-align: center;
}


.section-title{
  /* border-style: dotted; */
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  /* section title to the top */
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.miner_section-title{
  position: relative;
  font-size: 1rem;
  color: var(--first-color);
  /* section title to the top */
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after{
  /* dashline for that! */
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/* section to section!!! */
.section{
  /* border-style: dotted dashed solid double; */
  padding-top: 3rem;
  padding-bottom: 2rem;
}

section{
  padding-top: 2rem;
}

.bd-grid{
  /* limite the width in here */
  max-width: 1024px;
  /* it make as a grid based on the  */
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  /* no responsvie */
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  width: calc(100% - 2rem);
}

/* for course!!!! */
.bd-nGrid{
  max-width: 1024px;
  /* No grid */
  margin-left: auto;
  margin-right: auto;
}

table{
  border-collapse: collapse;
}

table,th,td {
  border: 2.5px solid;
  border-color: #20B2AA;
}

table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; 
  word-wrap:break-word; 
}

th,td {
  padding: 10px;
}

td{
  color: #130200;
}

.l-header{
  /* border-style: outset; */
  width: 100%;
  /* make it fixed on the top */
  position: fixed;
  top: 0;
  left: 0;
  /* important!!!! move header behind!!! using z!!!  */
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

/* mobile version for nav */
/* @media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
} */

.nav{
  height: var(--header-height);
  /* flex -> make to seperate with space-between */
  /* flext with unver navlist */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

.nav__item{
  margin-bottom: var(--mb-4);
}

.nav__link{
  position: relative;
  /* make about, skill..... while color */
  color: #fff;
}

.nav__link:hover{
  position: relative;
}

/* underline */
.nav__link:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo{
  color: var(--second-color);
}

/* style for upper right icon */
/* .nav__toggle{
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
} */

/* show the menue! */
.show{
  right: 0px;
}

.active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.gradient-text {
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(200, 200, 200, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 20px;
}

/* set potition make it two grids!!!!*/
.about__container, .course__container, .skills__container{
  row-gap: 2rem;
  text-align: center;
}
/* set potition make it two grids!!!!*/

.about__subtitle{
  margin-bottom: var(--mb-2);
}

.about__img{
  justify-self: center;
}

.about__img img{
  width: 300px;
  border-radius: 50%;
}

.skills__subtitle{
  margin-bottom: var(--mb-2);
}

.skills__text{
  margin-bottom: var(--mb-4);
}

.skills__data{
  display: flex;
  /* flex with name and percentage */
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  /* padding: .5rem 1rem; */
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}

.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__power_point{
  width: 90%;
}
.skills__excel{
  width: 90%;
}
.skills_access{
  width: 75%;
}
.skills__spss{
  width: 70%;
}

.skills__gis{
  width: 60%;
}

.skills__r{
  width: 60%;
}

.skills__img{
  border-radius: .5rem;
}
.skills__names{
  display: flex;
  align-items: center;
}

.contact__input{
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button{
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  justify-items: center;
}

.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/* 
@media screen and (max-width: 375px){
  body{
    margin: 0;
    background-color: #80ced6;
  }
} */


  /* disable the upper right icon */
  .nav__toggle{
    display: none;
  }

/* web version */
@media screen and (min-width: 768px){
  
  body{
    margin: 0;
    background-color: white;
  }

  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .nav{
    height: calc(var(--header-height) + 1rem);
  }

  .nav__list{
    /* Make it speperate (about, skill) */
    /* if not display: flex; -> display vertical */
    display: flex;
    padding-top: 0;
  }

  .nav__item{
    margin-left: var(--mb-3);
    margin-bottom: 0;
  }

  /* disable the upper right icon */
  .nav__toggle{
    display: none;
  }

  /* make navLink visible */
  .nav__link{
    color: var(--second-color);
  }

  /* key to make grid seperate while  */
  .about__container, .skills__container, .course__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
  
  .about__img img{
    width: 300px;
  }

  .work__container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 2rem;
  }

  /* number of rows & number of cols */
  .work__container_oneRow{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  /* number of rows & number of cols */
  .work__container_oneRow_twoPhotos{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    /* justify-items: center; */
  }

  /* number of rows & number of cols */
  .work__container_oneRow_fourPhotos{
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    /* justify-items: center; */
  }

  .contact__form{
    width: 480px;
  }
  
  .contact__container{
    justify-items: center;
  }

}

/* make it center!! */
@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
}

/* slider slider slider slider slider slider slider */

.slide-container .prev, .slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #20B2AA;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover, .slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
}

.dots-container .dot.active {
  /* border: 2px solid green; */
  border: 2px solid white;
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
/*   background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
}

body h1 {
  text-align: center;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}

/* slider slider slider slider slider slider slider */

/* table table table table table table table */
#visitor_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#visitor_table td, #visitor_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#visitor_table tr:nth-child(even){background-color: #f2f2f2;}

#visitor_table tr:hover {background-color: #ddd;}

#visitor_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;       /* smaller than before to reduce blur */
  max-width: 650px; /* cap it so it doesn’t stretch */
  height: auto;     /* keep aspect ratio */
}


/* table table table table table table table */


/* time_line time_line time_line time_line time_line */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: green;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container_time {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container_time::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.leftt {
  left: 0;
}

/* Place the container to the right */
.rightt {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.leftt::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.rightt::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.rightt::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* time_line time_line time_line time_line time_line */


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container_time {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container_time::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .leftt::after, .rightt::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .rightt {
  left: 0%;
  }
}

/* effect on image !!! */
.work__img{
  border-radius: .5rem;
  overflow: hidden;
}
.work__img img{
  transition: 1s;
  cursor: pointer;
}
.work__img img:hover{
  transform: scale(1.1);
}
/* effect on image !!! */


/* show Click  on text or image when mouse on  */
 .content_img_onText{
  position: relative;
  /* margin-left: auto;
  margin-right: auto; */
  /* display: block; */
 }

/* Child Text Container */
.content_img_onText div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  color: #20B2AA;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
  }

  /* Hover on Parent Container */
 .content_img_onText:hover{
  cursor: pointer;
 }
 
 .content_img_onText:hover div{
  width: 5%;
  visibility: visible;
  opacity: 1.5; 
 }

 .content_img{
  position: relative;
  width: 260px;
  height: 260px;
  float: left;
  margin-right: 10px;
 }
 
 /* Child Text Container */
 .content_img div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */
 .content_img:hover{
  cursor: pointer;
 }
 
 .content_img:hover div{
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
 }
/* show Click on text or image when mouse on  */

 /* footer */
 .footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 0.5rem 0;
}

.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__social{
  margin-bottom: var(--mb-4);
}

.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}
 /* footer */

 
/* text in the main photo!!!! */
 .display-container {
  position: relative;
  text-align: center;
  /* z-index: var(--z-back); */
  /* z-index: var(--z-normal); */
}


.main_image {
  position: relative;
  background: green; /* IE */
  margin-top: auto;
}

.main_image h1{
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: white;
  font-size: 30px;
  /* padding: 0;
  margin: 0; */
  margin-top: -13px; /* 1/2 height */
  text-align: center;
}

.main_image img{
  z-index: 1;
  width: 100%;
  height: 140%;
  position: relative;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:green
}

/* text in the main photo!!!! */


/* for flow chart!!! */
.image_chart img{
  height: 360px;
}

.image_chart_higher img{
  height: 1080;
}

.image_chart_bcs img{
  height: 420px;
}
/* for flow chart!!! */

/* remove color change */
a {color:black;}         /* Unvisited link  */
a:visited {color:black;} /* Visited link    */
a:hover {color:#20B2AA;}   /* Mouse over link */
a:active {color:black;}  /* Selected link   */
/* remove color change */


/* resize the specific image */
.abdq img {
  float: left;
  width:  320px;
  height: 213px;
  object-fit: contain;
}
/* resize the specific image */


/* working with centering the ui */

#buttons li a , #buttons_title li a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.7em 1em 0.7em 1em;
  text-transform: uppercase;
  font-size: 1em;
}

#buttons li
/* horizontal menu layout */
 {
    display: inline-block;
    border-radius: 12px;
    /* need to remove this in order to center the word with a tag */
    margin-right:30px; 
    background-color: #20B2AA;
}

/* center menu layout */
#buttons_title li
 {
    display: inline-block;
    border-radius: 12px;
    background-color: limegreen;
}

#buttons li a:hover,  #buttons_title li a:hover{
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  padding: 0 8px;
}
/* working with centering the ui */


.home__social{
  padding-top: 0;
  padding-bottom: 2.5rem;
  flex-direction: row;
  align-self: flex-end;
}
.home__social-icon{
  margin-bottom: 0;
  margin-right: var(--mb-4);
}